In [3]:
valores=["Hola", "Mundo"];
resultado=[];
for i in valores:
    resultado.append(i[0])

In [4]:
resultado

['H', 'M']

In [5]:
matriz=[[4,5,6],[3,34,23]]
# Primero recorremos todas las filas de la matriz con un for
# Necesitamos usar un enumerador para poder guardar su índice de fila
for i, fila in enumerate(matriz):
    # Dentro de cada fila recorremos cada columna con otro for
    # Necesitamos usar un enumerador para poder guardar su índice de columna
    for j, columna in enumerate(fila):
        # A partir de ambos índices podemos comprobar la celda actual
        # Si es par asignamos a la celda un 0
        if matriz[i][j] % 2 == 0:
            matriz[i][j] = 0
        # En caso contrario, si es impar, le asignamos un 1
        else:
            matriz[i][j] = 1

In [6]:
matriz

[[0, 1, 0], [1, 0, 1]]

In [7]:
iniciales=["Pan","Casa","Lego"]
for i,cadena in enumerate(iniciales):
    # Modificamos cada cadena por su letra inicial
    iniciales[i] = iniciales[i][0]

In [17]:
iniciales

['P', 'C', 'L']

In [9]:
for n in range(10):
    if n % 2 != 0:
        print(n)

1
3
5
7
9

In [10]:
tupla = (100,"Hola",[1,2,3,4],-50)

In [11]:
tupla

(100, 'Hola', [1, 2, 3, 4], -50)

In [12]:
tupla[0]

100

In [13]:
tupla[-1]

-50

In [14]:
tupla[1:]

('Hola', [1, 2, 3, 4], -50)

In [15]:
tupla[2][1]

2

In [16]:
tupla[0]=9 # Una tupla no se puede modificar un valor

TypeError: 'tuple' object does not support item assignment

In [18]:
len(tupla)

4

In [19]:
len(tupla[2])

4

In [20]:
def crear_matriz(filas, columnas):
    matriz = []
    for i in range(filas):
        fila = []
        for j in range(columnas):
            valor = int(input(f"Ingrese el valor para la posición ({i+1}, {j+1}): "))
            fila.append(valor)
        matriz.append(fila)
    return matriz

filas = int(input("Ingrese el número de filas: "))
columnas = int(input("Ingrese el número de columnas: "))

matriz = crear_matriz(filas, columnas)

print("Matriz ingresada:")
for fila in matriz:
    print(fila)

Ingrese el número de filas: 3
Ingrese el número de columnas: 4
Ingrese el valor para la posición (1, 1): 3
Ingrese el valor para la posición (1, 2): 4
Ingrese el valor para la posición (1, 3): 5
Ingrese el valor para la posición (1, 4): 4
Ingrese el valor para la posición (2, 1): 1
Ingrese el valor para la posición (2, 2): 3
Ingrese el valor para la posición (2, 3): 4
Ingrese el valor para la posición (2, 4): 5
Ingrese el valor para la posición (3, 1): 1
Ingrese el valor para la posición (3, 2): 3
Ingrese el valor para la posición (3, 3): 13
Ingrese el valor para la posición (3, 4): 13
Matriz ingresada:
[3, 4, 5, 4]
[1, 3, 4, 5]
[1, 3, 13, 13]

In [21]:
tupla.index(100)

0

In [23]:
tupla[0]

100

In [24]:
tupla.count(100)

1

In [25]:
tupla.count('Hola')

1

In [26]:
# Tupla no se puede modificar

In [27]:
tupla.count()

TypeError: count() takes exactly one argument (0 given)

In [31]:
print(tupla[-1])
print(len(tupla))
print(tupla.index(100))
print(tupla[0:2])
print(tupla[2])
print(tupla.count(4))

-50
4
0
(100, 'Hola')
[1, 2, 3, 4]
0

In [32]:
conjutno = set()

In [33]:
conjunto={1,2,3}

In [34]:
conjunto.add(4)

In [35]:
conjunto.add('')

In [36]:
conjunto.add(0)

In [37]:
conjunto

{'', 0, 1, 2, 3, 4}

In [38]:
conjunto.add('A')

In [39]:
conjunto

{'', 0, 1, 2, 3, 4, 'A'}

In [40]:
conjunto.add('Z')

In [41]:
grupo={"Hector","Juan",'Mario'}

In [42]:
"Hector" in grupo

True

In [43]:
"Maria" in grupo

False

In [44]:
"Hector" not in grupo

False

In [45]:
test={'Hector','Hector','Hector'}

In [46]:
test

{'Hector'}

In [47]:
l=[1,2,2,3,3,2,1]

In [48]:
l

[1, 2, 2, 3, 3, 2, 1]

In [49]:
c=set(l)

In [50]:
c

{1, 2, 3}

In [51]:
l=list(c)

In [63]:
l

[1, 2, 3]

In [53]:
l=[1,2,2,3,3,2,1]

In [54]:
l=list(set(l))

In [55]:
l

[1, 2, 3]

In [56]:
s="Al pan pan y al vino vino"
set(s)

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}

In [57]:
# Variables del ejercicio (no las modifiques)
grupo = {"Miguel", "Blanca", "Mario", "Andrés"}
 
# Completa el ejercicio
for usuario in ["Ana", "Ramón", "Marta", "Eric", "David"]:
    grupo.add(usuario)
 
for usuario in ["Mario", "Miguel", "Ramón"]:
    grupo.remove(usuario)

In [58]:
grupo

{'Ana', 'Andrés', 'Blanca', 'David', 'Eric', 'Marta'}

In [59]:
vacio = {}

In [60]:
vacio

{}

In [61]:
type(vacio)

dict

In [62]:
colores ={'amarillo':'yellow','azul':'blue','verde':'green'}

In [64]:
colores['amarillo']

'yellow'

In [66]:
numeros = {10:'diez',20:'veinte'}

In [67]:
numeros[10]

'diez'

In [68]:
colores['amarillo']='am'

In [69]:
colores

{'amarillo': 'am', 'azul': 'blue', 'verde': 'green'}

In [71]:
del(colores['amarillo'])

In [72]:
edades={'Hector':27,'Raul':19}

In [73]:
edades['Raul']+=1

In [74]:
edades

{'Hector': 27, 'Raul': 20}

In [75]:
for clave in edades:
    print(edades[clave])

27
20

In [76]:
for clave,valor in edades.items():
    print(clave,valor)

Hector 27
Raul 20

In [77]:
personajes = []

In [80]:
p={'Nombre':'Gandalf', 'Clase':'Mago','Raza':'Humano'}

In [81]:
personajes.append(p)

In [82]:
personajes

[{'Nombre': 'Gandalf', 'Clase': 'Mago', 'Raza': 'Humano'}]

In [83]:
p={'Nombre':'Legolas', 'Clase':'Arquero','Raza':'Elfo'}

In [84]:
personajes.append(p)

In [85]:
pila = [3,4,5]

In [86]:
pila.append(6)

In [87]:
pila.append(7)

In [88]:
pila

[3, 4, 5, 6, 7]

In [90]:
pila.pop()

7

In [91]:
pila

[3, 4, 5, 6]

In [94]:
n=pila.pop()

In [95]:
n

6

In [96]:
pila.pop()
pila.pop()
pila.pop()

3

In [98]:
from collections import deque

In [101]:
cola = deque()

In [102]:
cola=deque(['Hector','Juan','Miguel'])

In [103]:
cola

deque(['Hector', 'Juan', 'Miguel'])

In [104]:
cola.append('Maria')

In [105]:
cola

deque(['Hector', 'Juan', 'Miguel', 'Maria'])

In [106]:
cola.popleft()

'Hector'

In [107]:
cola

deque(['Juan', 'Miguel', 'Maria'])

In [108]:
p=cola.popleft()

In [109]:
cola

deque(['Miguel', 'Maria'])

In [114]:
usuarios = {'Marta','David','Elvira','Juan','Marcos'}
administradores = {'Juan','Marta'}

administradores.discard('Juan')
administradores.add('Marcos')
for usuario in usuarios:
    if usuario in administradores:
        print(usuario, 'es admin')
    else:
        print(usuario,'no es admin')

David no es admin
Marta es admin
Juan no es admin
Marcos es admin
Elvira no es admin

In [115]:
caballero = {'vida':2,'ataque':2,'defensa':2,'alcance':2}
guerrero = {'vida':2,'ataque':2,'defensa':2,'alcance':2}
arquero = {'vida':2,'ataque':2,'defensa':2,'alcance':2}

caballero['vida']=guerrero['vida']*2
caballero['defensa']=guerrero['defensa']*2


guerrero['ataque']=caballero['ataque']*2
guerrero['alcance']=caballero['alcance']*2

In [116]:
tareas=[
    [6,'Distribucion'],
    [2,'Diseño'],
    [1,'Concepcion'],
    [7,'Mantenimiento'],
    [4,'Produccion'],
    [3,'Planificacion'],
    [5,'Pruebas']
]
print ('==Tareas desordenadas==')
for tarea in tareas:
    print(tarea[0],tarea[1])
    
from collections import deque

tareas.sort()
cola =deque()
for tarea in tareas:
    cola.append(tarea[1])

    
print ('==Tareas ordenadas==')
for tarea in cola:
    print(tarea)

==Tareas desordenadas==
6 Distribucion
2 Diseño
1 Concepcion
7 Mantenimiento
4 Produccion
3 Planificacion
5 Pruebas
==Tareas ordenadas==
Concepcion
Diseño
Planificacion
Produccion
Pruebas
Distribucion
Mantenimiento

In [117]:
import random

def make_matrix(m,t,n=0):
    for i in range(t):
        m.append([])
        for j in range(t):
            m[i].append(n)

def print_matrix(m,t):
    print(f"|  ", end="  | ")
    for j in range(t):
        print (f"{j+1:3d}", end="  ")
    print()
    print("-"*t*5+"-"*5)
    for i in range(t):
        print(f"| {letters[i]}", end="  | ")
        for j in range(t):
            print (f"{m[i][j]:3d}", end="  ")
        print()
    print("-"*t*5+"-"*5)
    print()

def put_mines(m,t,n_mines):
    i = 0
    while(i < n_mines):
        a = random.randint(0, t-1) # genera un número entero entre a y b, ambos incluidos
        b = random.randint(0, t-1) # genera un número entero entre a y b, ambos incluidos)
        if (m[a][b]!=-1):
            m[a][b]=-1
            i+=1


def count_mines(m,t):
    count = 0
    for i in range(t):
        for  j in range(t):
            if (m[i][j]==-1):
                count+=1
    return(count)


def count_neighboring_mines(m,i,j,t):
    c = 0
    for x in range((i-1),(i-1+3)):
        for y in range ((j-1),(3+j-1)):
            if (x>=0 and y >= 0 and x < t and y < t):
                if (m[x][y]==-1):
                    c+=1
    return c




def put_numbers(m,t):
    for i in range(t):
        for  j in range(t):
            if (m[i][j]!=-1):
                m[i][j]=count_neighboring_mines(m,i,j,t)

def print_while_playing(m,d,t):
    character = "#"
    print(f"|  ", end="  | ")
    for j in range(t):
        print (f"{j+1:3d}", end="  ")
    print()
    print("-"*t*5+"-"*5)
    for i in range(t):
        print(f"| {letters[i]}", end="  | ")
        for j in range(t):
            if (d[i][j]==0):
                print(f"  {character}", end="  ")
            else:
                print (f"{m[i][j]:3d}", end="  ")
        print()
    print("-"*t*5+"-"*5)
    print()

def discover(m,d,t,a,b):
    if (m[a][b]==-1): # is a mine
        return -1 # You lose
    elif(d[a][b]==1):
        return 0 # already discovered
    else: # we have something that is not a mine
        if (m[a][b]==0):
            d[a][b]=1 # we discover a 0
            for x in range((a-1),(a-1+3)):
                for y in range ((b-1),(3+b-1)):
                    if (x>=0 and y >= 0 and x < t and y < t):
                        discover(m,d,t,x,y)
        else:
            d[a][b]=1 # we discover a n!=0


def win(d,t,n_mines):
    c = 0
    for i in range(t):
        for  j in range(t):
            if (d[i][j]==1):
                c+=1
    if (c==t*t-n_mines):
        return 1 # You win
    else:
        return 0 # Keep playing

play = True
answer = "Y"
letters =["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]
letters_dic = {}
for i in range(1,27):
    letters_dic.update({letters[i-1]:i})

# print(letters_dic)
# print(letters_dic["A"])
while (play==True):
    tam = 0
    number_of_mines = 0
    lose = False
    wining = False
    answer = input("\nDo you want to play? Y/N \n")
    if (answer=="Y" or answer=="y"):
        while (tam < 3 or tam > 26):
            tam = int(input("\nWrite the size of the matrix (Number from 3 to 26)\n"))
            
        max_number_mines = int(tam*tam*0.75)
        while (number_of_mines < 1 or number_of_mines > max_number_mines):
            number_of_mines = int(input(f"\nWrite the number of mines (Number from 1 to {max_number_mines}) \n"))
        matrix = []
        discovered  = []
        make_matrix(matrix,tam)
        make_matrix(discovered ,tam)
        # print_matrix(matrix,tam)
        # print_matrix(discovered ,tam)
        put_mines(matrix,tam,number_of_mines) # put_mines(m,t,n_mines):
        # print_matrix(matrix ,tam)
        # print(count_mines(matrix,tam))
        put_numbers(matrix,tam)
        # print_matrix(matrix ,tam) # ! To cheat
        print_while_playing(matrix,discovered,tam)
        while (lose==False and wining==False ):
            letter_a = input(f"write the row (Letter from A to {letters[tam-1]}) ")
            try:
                letter_a = letter_a.upper()
            except:
                letter_a = "ABCD123"    
            
            while (letter_a not in letters[0:tam]):
                letter_a = input(f"write the row (Letter from A to {letters[tam-1]}) ")
                try:
                    letter_a = letter_a.upper()
                except:
                    letter_a = "ABCD123"

            
            a = letters_dic[letter_a.upper()]
            a-=1

            b = int(input(f"write the column (Number from 1 to {tam}) "))
            while (b<1 or b>tam):
                b = int(input(f"write the column (Number from 1 to {tam}) "))
            b-=1

            if (matrix[a][b]==-1):
                print("\nYou lose, You touch a mine\n")
                print_matrix(matrix ,tam)
                lose = True
            else:
                discover(matrix,discovered,tam,a,b)
                if (win(discovered,tam,number_of_mines)):
                    print("\nCongratulations You win\n")
                    wining = True
                print()
                print_while_playing(matrix,discovered,tam)
       Y         
    elif (answer=="N" or answer=="n"):
        print("\nHave a nice day\n")
        play=False
    else:
        print("\nPlease write Y or N \n")

Do you want to play? Y/N
Y

Write the size of the matrix (Number from 3 to 26)
4

Write the number of mines (Number from 1 to 12)
3
|    |   1    2    3    4
-------------------------
| A  |   #    #    #    #
| B  |   #    #    #    #
| C  |   #    #    #    #
| D  |   #    #    #    #
-------------------------

write the row (Letter from A to D) A
write the column (Number from 1 to 4) 3

|    |   1    2    3    4
-------------------------
| A  |   #    #    1    #
| B  |   #    #    #    #
| C  |   #    #    #    #
| D  |   #    #    #    #
-------------------------

write the row (Letter from A to D) B
write the column (Number from 1 to 4) 2

|    |   1    2    3    4
-------------------------
| A  |   #    #    1    #
| B  |   #    2    #    #
| C  |   #    #    #    #
| D  |   #    #    #    #
-------------------------

write the row (Letter from A to D) A
write the column (Number from 1 to 4) 4

|    |   1    2    3    4
-------------------------
| A  |   #    #    1    0
| B  |   #    2    2    0
| C  |   #    #    1    0
| D  |   #    #    1    0
-------------------------

write the row (Letter from A to D) A
write the column (Number from 1 to 4) 1

|    |   1    2    3    4
-------------------------
| A  |   1    #    1    0
| B  |   #    2    2    0
| C  |   #    #    1    0
| D  |   #    #    1    0
-------------------------

write the row (Letter from A to D) D1
write the row (Letter from A to D) 1
write the row (Letter from A to D) D
write the column (Number from 1 to 4) 1

You lose, You touch a mine

|    |   1    2    3    4
-------------------------
| A  |   1   -1    1    0
| B  |   2    2    2    0
| C  |   2   -1    1    0
| D  |  -1    2    1    0
-------------------------


Do you want to play? Y/N
N

Have a nice day

In [1]:
def doblar_valor(numero):
    numero*=2

n=10
doblar_valor(n)
n

10

In [2]:
def doblar_valores(numeros):
    for i,n in enumerate(numeros):
        numeros[i]*=2

ns=[10,50,100]
doblar_valores(ns)
ns

[20, 100, 200]

In [3]:
def doblar_valor(numero):
    return numero*2
n = 10
n = doblar_valor(n)
n

20

In [4]:
def doblar_valores(numeros):
    for i,n in enumerate(numeros):
        numeros[i]*=2

ns=[10,50,100]
doblar_valores(ns[:])
ns
a=doblar_valores(ns[:])
a

In [5]:
a

In [6]:
ns

[10, 50, 100]

In [10]:
lista1 = [1,2,3,4,5]

In [11]:
lista2 = lista1

In [12]:
lista1[0]=1000

In [13]:
lista2

[1000, 2, 3, 4, 5]

In [14]:
lista1

[1000, 2, 3, 4, 5]

In [17]:
def memoria(obj):
    print(f"{hex(id(obj))}")

In [18]:
a=1
b=23

In [19]:
memoria(lista1)

0x14fe8d78100

In [20]:
memoria(lista2)

0x14fe8d78100

In [21]:
memoria(a)

0x7ffcc4683720

In [22]:
memoria(b)

0x7ffcc46839e0

In [23]:
def indeterminados_posicion(*args):
    print(args)

indeterminados_posicion(5,"Hola",{1,2,3,4})

(5, 'Hola', {1, 2, 3, 4})

In [25]:
def indeterminados_posicion(*args):
    for arg in args:
        print(arg)

indeterminados_posicion(5,"Hola",{1,2,3,4})

5
Hola
{1, 2, 3, 4}

In [27]:
def indeterminados_nombre(**kwargs):
    print(kwargs)

indeterminados_nombre(n=5,c="Hola",i={1,2,3,4})

{'n': 5, 'c': 'Hola', 'i': {1, 2, 3, 4}}

In [28]:
def indeterminados_nombre(**kwargs):
    for kwarg in kwargs:
        print(kwarg)

indeterminados_nombre(n=5,c="Hola",i={1,2,3,4})

n
c
i

In [29]:
def indeterminados_nombre(**kwargs):
    for kwarg in kwargs:
        print(kwarg, " ",kwargs[kwarg])

indeterminados_nombre(n=5,c="Hola",i={1,2,3,4})

n   5
c   Hola
i   {1, 2, 3, 4}

In [30]:
def super_funcion(*args,**kwargs):
    t=0
    for arg in args:
        t+=arg
    print("Sumatorio indeterminado es",t)
    for kwarg in kwargs:
        print(kwarg, " ",kwargs[kwarg])

super_funcion(10,50,-1,1.56,nombre="Hector",edad=27)

Sumatorio indeterminado es 60.56
nombre   Hector
edad   27

In [32]:
def cuenta_atras(num):
    num-=1
    if num > 0:
        print(num)
        cuenta_atras(num)
    else:
        print("Boooom!!")
    print("Fin de la funcion",num)

cuenta_atras(5)

4
3
2
1
Boooom!!
Fin de la funcion 0
Fin de la funcion 1
Fin de la funcion 2
Fin de la funcion 3
Fin de la funcion 4

In [37]:
def factorial(num):
    print ("valor inicial -> ",num)
    if num > 1:
        num = num*factorial(num -1)
    print ("valor final -> ",num)
    return num
factorial(5)

valor inicial ->  5
valor inicial ->  4
valor inicial ->  3
valor inicial ->  2
valor inicial ->  1
valor final ->  1
valor final ->  2
valor final ->  6
valor final ->  24
valor final ->  120

120

In [39]:
# Completa el ejercicio
def sumatorio(numero):
    if numero>1:
        numero=numero+sumatorio(numero-1)
    return numero

sumatorio(20)

210

In [40]:
n = "10"
n=int(10)

In [41]:
type(n)

int

In [42]:
c="un texto y un numero" + str(10) + " " + str(3.14)

In [43]:
c

'un texto y un numero10 3.14'

In [44]:
bin(10)

'0b1010'

In [45]:
hex(10)

'0xa'

In [46]:
int('0b1010',2)

10

In [47]:
int('0xa',16)

10

In [48]:
abs(-10)

10

In [49]:
round(5.5)

6

In [50]:
eval("2+5")

7

In [51]:
n=10
eval("n*10+5")

105

In [52]:
len("Una cadena")

10

In [58]:
def test(num):
   return num, num*2, num*4
 
test(5)

(5, 10, 20)

In [59]:
print(test(5))

(5, 10, 20)

In [1]:
def area_rectangulo(base,altura):
    return base*altura

print(area_rectangulo(3,4))

12

In [2]:
import math
print (math.pi)

3.141592653589793

In [3]:
import math
def area_circulo(radio):
    return (radio**2)*math.pi
print(area_circulo(5))

78.53981633974483

In [4]:
def relacion(a,b):
    if a>b:
        return 1
    elif a<b:
        return -1
    else:
        return 0
print(relacion(5,10))
print(relacion(10,5))
print(relacion(4,4))

-1
1
0

In [5]:
def intermedio(a,b):
    return (a+b)/2
intermedio(-12,24)

6.0

In [6]:
def recortar(numero,minimo,maximo):
    if numero<minimo:
        return minimo
    elif numero>maximo:
        return maximo
    return numero
print(recortar(15,0,16))

15

In [8]:
numeros = [-12,34,12,30,-33,101,9]
def separar(lista):
    lista.sort()
    pares=[]
    impares=[]
    for n in lista:
        if n%2==0:
            pares.append(n)
        else:
            impares.append(n)
    return pares, impares

pares, impares = separar(numeros)
print(pares)
print(impares)

[-12, 12, 30, 34]
[-33, 9, 101]

In [15]:
try:  
    n=float(input("Introduce un número "))
    m=4
    print("{}/{}={}".format(n,m,n/m))
except:
    print("Error")

Introduce un número 3
3.0/4=0.75

In [16]:
while(True):
    try: 
        n=float(input("Introduce un número "))
        m=4
        print("{}/{}={}".format(n,m,n/m))
        break
    except:
        print("Error")

Introduce un número 4
4.0/4=1.0

In [17]:
while(True):
    try: 
        n=float(input("Introduce un número "))
        m=4
        print("{}/{}={}".format(n,m,n/m))
    except:
        print("Error")
    else:
        print("Todo correcto")
        break

Introduce un número 3
3.0/4=0.75
Todo correcto

In [18]:
while(True):
    try: 
        n=float(input("Introduce un número "))
        m=4
        print("{}/{}={}".format(n,m,n/m))
    except:
        print("Error")
    else:
        print("Todo correcto")
        break
    finally:
        print("Fin de la interacion")

Introduce un número aaaa
Error
Fin de la interacion
Introduce un número 2
2.0/4=0.5
Todo correcto
Fin de la interacion

In [20]:
try:
    n=input("Introduce un número: ")
    5/n
except Exception as e:
    print (type(e).__name__)

Introduce un número: 11
TypeError

In [21]:
try:
    n=float(input("Introduce un número: "))
    5/n
except TypeError:
    print("No se puede dividir el numero por una cadena")
except Exception as e:
    print(type(e).__name__)

Introduce un número: aaa
ValueError

In [22]:
try:
    n=float(input("Introduce un número: "))
    5/n
except TypeError:
    print("No se puede dividir el numero por una cadena")
except ValueError:
    print("Debes introducir una cadena que sea un numero")
except Exception as e:
    print(type(e).__name__)

Introduce un número: aaa
Debes introducir una cadena que sea un numero

In [23]:
try:
    n=float(input("Introduce un número: "))
    5/n
except TypeError:
    print("No se puede dividir el numero por una cadena")
except ValueError:
    print("Debes introducir una cadena que sea un numero")
except Exception as e:
    print(type(e).__name__)

Introduce un número: 0
ZeroDivisionError

In [24]:
try:
    n=float(input("Introduce un número: "))
    5/n
except TypeError:
    print("No se puede dividir el numero por una cadena")
except ValueError:
    print("Debes introducir una cadena que sea un numero")
except ZeroDivisionError:
    print("No se puede devidir entre cero, prueba otro numero")
except Exception as e:
    print(type(e).__name__)

Introduce un número: 0
No se puede devidir entre cero, prueba otro numero

In [25]:
def mi_funcion(algo=None):
    if algo is None:
        print("Error no se permite un valor nulo")

mi_funcion("algo")

In [26]:
mi_funcion()

Error no se permite un valor nulo

In [29]:
def mi_funcion(algo=None):
    try:
        if algo is None:
            raise ValueError("Error! No se permite un valor nulo")
    except ValueError :
            print("Error! No se permite un valor nulo, desde la excepcion")
mi_funcion()

Error! No se permite un valor nulo, desde la excepcion

In [30]:
try:
    resultado = 10/0
except ZeroDivisionError:
    print("Error: No es posible dividir entre 0")

Error: No es posible dividir entre 0

In [33]:
lista=[1,2,3,4,5]
lista[10]

IndexError: list index out of range

In [34]:
lista=[1,2,3,4,5]
try:
    lista[10]
except IndexError:
    print("Error el indice se encuentra fuera de rango")

Error el indice se encuentra fuera de rango

In [35]:
colores={'rojo':'red','verde':'green','negro':'black'}
colores['blanco']

KeyError: 'blanco'

In [36]:
colores={'rojo':'red','verde':'green','negro':'black'}
try:
    colores['blanco']
except KeyError: 
    print("Error: La clave del diccionario no se encuentra")

Error: La clave del diccionario no se encuentra

In [38]:
elementos = [1,5,-2]
def agregar_una_vez(lista,el):
    try:
        if el in lista:
            raise ValueError
        else:
            lista.append(el)
    except ValueError:
        print("Error: Imposible añadir duplicados -> {}".format(el))

agregar_una_vez(elementos,10)
agregar_una_vez(elementos,-2)
agregar_una_vez(elementos,"Hola")
print(elementos)

Error: Imposible añadir duplicados -> -2
[1, 5, -2, 10, 'Hola']